@model KidscotchWebApp.Models.ClothInfo

@{
    ViewData["Title"] = "Delete";
}

<div class="container mb-3">
    <div class="text-center">
        <h1 class="display-4">@Model.Name ($ @Model.ClothPrice) </h1>
        <p>Delete Cloth Info</p>
    </div>

    <p>
        <a asp-action="Index" class="btn btn-primary">View All Cloth</a>
    </p>
    <hr />
    <div class="row mb-3">
        <div class="col-md-8">
            <h2>Company Name: @Model.ClothCompany.ClothCompanyName</h2>
            <h2>Category Name: @Model.ShopCategory.ShopCategoryName</h2>
            <h2>Size Chart </h2>
            <p>@Model.SizeChart</p>
            <h2>Feature </h2>
            <p>@Model.Feature</p>
        </div>
        <div class="card col-md-4">
            <img class="card-img-top" src="~/cloths/@Model.ClothInfoID@Model.Extension" alt="@Model.Name" style="width:100%">
            <form asp-action="Delete" class="mt-2">
                <input type="hidden" asp-for="ClothInfoID" />
                <input type="submit" value="Delete" class="btn btn-danger" />
            </form>
        </div>
    </div>
</div>